<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :student_first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, id: :student_middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :student_last_name %>
  </div>

  <div class="field">
    <%= form.label :parent_name %>
    <%= form.text_field :parent_name, id: :student_parent_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth, id: :student_date_of_birth, class: 'datepicker'  %>
  </div>

<div class="field">
    <%= form.label :date_of_joining %>
    <%= form.text_field :date_of_joining, id: :student_date_of_joining, class: 'datepicker'  %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :student_mobile %>
  </div>

  <div class="field">
    <%= form.label :batch %>
    <%= form.select :batch_id, options_for_select(@batches.collect{ |u| [u.name, u.id] }) ,  id: :batch_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({

     format : 'dd-mm-yyyy'
    });
  });
</script>