<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.first_name + ' ' + @student.middle_name + ' ' + @student.last_name %>
</p>


<p>
  <strong>Date of Joining :</strong>
  <%= @student.date_of_joining.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Date of Joining :</strong>
  <%= @student.date_of_joining.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
