<%= form_with(model: fee, local: true) do |form| %>
  <% if fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

      <ul>
      <% fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :fee_amount %>
  </div>

  <div class="field">
    <%= form.label :month_id %>
    <%= form.select :month_id, options_for_select(@months.collect{ |u| [u.name, u.id] }), id: :fee_month_id %>
  </div>

    <div class="field">
    <%= form.label :center_id %>
    <%= form.select :center_id, options_for_select(@centers.collect{ |u| [u.name, u.id] }), id: :efee_center_id %>
  </div>

  <div class="field">
    <%= form.label :student %>
    <%= form.select :student_id, options_for_select(@students.collect{ |u| [u.name, u.id] }) ,  id: :fees_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>