<p id="notice"><%= notice %></p>

<h1> Attendence for <%= @batch.name %> </h1>

<table>
  <thead>
    <tr>
      <th>student</th>
      <th></th>
       <th colspan="3"></th>
      <th>attendence details </th>
    </tr>
  </thead>
    <%= form_tag ('/update_attendance'), html: {class: 'form-inline'}, remote: true, method: :put   do  %> 
    <tbody>
    <% @attendences.each do |attend| %>
      <tr>
        <td><%= attend.student.first_name %></td>
        <td>
            <%= hidden_field_tag 'students_current_batch[]',  attend.id %>
          <td>
              <td><%= text_field_tag 'session_date[]',  (attend.session_date || '')%>
              </td>
              <td>
                <%= check_box_tag 'attend[]', attend.id, attend.attend %></td>
              </td>
              <td><%= text_field_tag 'remarks[]' %></td>
              </td>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>
   <td> <%= submit_tag 'submit' %>
   <% end %>

<%= link_to "return to batch", batch_path(@batch)%>
<br>

