<p id="notice"><%= notice %></p>

<h1> Attendence for <%= @batch.name %> </h1>

<table>
  <thead>
    <tr>
      <th>student</th>
      <th></th>
       <th colspan="3"></th>
      <th>attendence details </th>
    </tr>
  </thead>
  <tbody>
    <% @attendences.each do |attend| %>
      <tr>
        <td><%= attend.student.first_name %></td>
        <td>
          <td>
          <%= simple_form_for attend, 
            url: update_attendance_path(id: attend.id),remote: true ,
            html: {class: 'form-inline'},
            method: :put do |f| %>
              <td><%= f.input :session_date,  input_html: {value: f.object.session_date || ''}%>
              </td>
              <td>
                <%= f.input :attend, label: 'present', as: :boolean do f.check_box :attend, {}, "true", "false" end %></td>
              </td>
              <td><%= f.input :remarks %></td>
              <td> <%= f.submit %>
              </td>
          <% end %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "return to batch", batch_path(@batch)%>
<br>

