<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Class Management System", batches_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Center', centers_path %></li>
        <li><%= link_to 'expenses', students_path %></li>
        <li><%= link_to 'Students', students_path %></li>
        <li><%= link_to "Batches", batches_path %></li>
        <li><%= link_to "fees", fees_path %></li>
        <li><%= link_to "instru", instruments_path %></li>

        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>

      <% end %>
      </ul>
    </nav>
  </div>
</header>
